{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}


<div>
    <h2 class="text-center authentication-title">Авторизация</h2>
    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}

        <div class="form-group row">
            <div class="col-sm-12">
                <i class="fas fa-user"></i>
                <input type="text" class="form-control col-md-11 float-right" id="username" placeholder="{{ 'security.login.username'|trans }}" name="_username" value="{{ last_username }}" required="required">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <i class="fas fa-lock"></i>
                <input type="password" class="form-control col-md-11 float-right" id="password" placeholder="{{ 'security.login.password'|trans }}" name="_password" required="required">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-10 align-self-center">
                <div class="form-check float-right">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="remember_me" name="_remember_me" value="on">
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    </label>
                </div>
            </div>
            <div class="col-md-2 float-right">
                <button style="float: right" type="submit" class="btn btn-primary" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}</button>
            </div>
        </div>
    </form>
</div>