<div class="modal fade {{ class }}" role="dialog" style="display: none;" >
    <div class="modal-dialog {% if size is defined and size == 'large' %}modal-lg{% endif %}" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ title | trans() }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <form action="{% if formAction is defined %}{{ formAction }}{% endif %}" class="modal-submit-form form-horizontal" method="post" id="{{ formId }}" enctype="multipart/form-data">
                <div class="modal-body">
                    {{ content }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Close' | trans() }}</button>
                    {% if submitTitle is defined %}<button type="submit" class="modal-submit-btn btn btn-primary">{{ submitTitle | trans() }}</button>{% endif %}
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<script>
    $(document).ready(function() {
        $('.modal-submit-form').on('submit', function(e) {
            $('.modal-submit-btn').attr('disabled', true);
            $('.modal-submit-btn').addClass('btn-disabled');
        });
    })
</script>